<app-header></app-header>

<div class="container mt-4">
    <mat-card class="p-4">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <div><img src="assets/images/facebook-full.png" width="300px"/></div>
            <h2 class="header mt-2">{{title.getTitle()}}</h2>
            <p>{{appSummary}}</p>
        </div>

        <app-action-bar></app-action-bar>
        <router-outlet></router-outlet>
    </mat-card>
</div>
