<section id="action-bar">
    <hr class="mt-4 mb-4"/>
    <div class="d-flex justify-content-end align-items-center" *ngIf="!isConfigured">
        <div class="mr-auto">
            <button (click)="showPanel('config')"
                    color="primary" mat-flat-button>
                Test with your Xano account...
            </button>
            <a mat-button *ngIf="config.editLink" [href]="config.editLink" class="ml-4" target="_blank">
                {{config.editText}}
            </a>
        </div>
    </div>
    <hr class="mt-4 mb-4" *ngIf="!isConfigured"/>
</section>

