.success-header, .success-icon {
    color: #69F0AE;
    font-size: 3em;
    width: fit-content;
    height: fit-content;
    margin-bottom: 15px;
}

.failure-header, .failure-icon {
    font-size: 3em;
    color: #F44335;
    width: fit-content;
    height: fit-content;
    margin-bottom: 15px;
}
